body{
    background-color: royalblue;
}

header{
    color: white;
    text-align: center;
}

section{
    width: 500px;
    background-color: white;
    border-radius: 10px;
    margin: auto;
    padding: 15px;
    text-align: center;
    
}
#msg{
    padding: 8px;
}

#foto{
    padding: 8px;
}
footer{
    color: white;
    text-align: center;
}