body{
    background-color: royalblue;
    font: normal, 15pt, Arial;
}

h1{
    text-align: center;
    color: white;
}

section{
    text-align: center;
    background-color: white;
    width: 500px;
    border-radius: 10px;
    margin: auto;
    padding: 15px;
    box-shadow: 3px, 3px, 3px, 10px, rgb(0, 0, 0, 0.363);
}

#msg{
    padding: 8px;
}

#img{
    padding: 8px;
}

footer{
    text-align: center;
    color: white;
    font-style: italic;
}